# Mobile app
MobileApp/

# Binaries

*.exe
*.exe~
*.dll
*.so
*.dylib

# Go
*.test
*.out
vendor/

# Environment
.env
.env.local
*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

website/
dashboard/
